.sidebar {
    flex: 1;
    border-right: 1px solid rgb(8, 8, 8);
    min-height: 100vh;
    background-color: rgb(18, 85, 53);
  
    .top {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .icon {
        justify-content: center;
        padding-left: 20%;
        align-items: center;
  
        .icontop {
          width: 100px;
          height: 100px;
          border-radius: 30px;
  
        }
  
      }
  
  
      .logo {
        display: flex;
        font-size: 25px;
        font-weight: bold;
        color: #d2dcd1;
        justify-content: center;
        padding-top: 08px;
        padding-left: 3px;
  
      }
  
      .name {
        padding-left: 5px 5px;
        font-weight: bold;
        color: #b4a9e1;
        font-size: 20px;
        justify-content: left;
      }
    }
  
    hr {
      height: 1px;
      border: 1px solid rgba(63, 60, 60, 0.986);
    }
  
    .center {
      padding-left: 8px;
  
      ul {
        list-style: none;
        margin: 20px;
        padding: 20px;
  
  
  
        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;
  
          .dropdown {
            
  
            a.active {
              background-color: rgb(18, 85, 53);
              color: #000;
            }
  
            .dropdown-content{
            
  
              .dropdown-item{
                background-color: #174f20;
                padding-right: 1px;
                margin-left: 25px;
                margin-bottom: 5px;
                margin-top: 5px;
                padding-right: 0px;
                border-radius: 10px;
                justify-content: center;
                color: #8b8b8b;
              }
            }
  
          }
  
          a {
            display: flex;
            align-items: center;
            padding-right: 30px;
            padding-left: 8px;
            padding-bottom: 10px;
            padding-top: 10px;
            width: 150px;
           
            transition: background-color 0.3s ease;
          }
  
  
  
          a.active {
            background-color: #02451e;
            color: #000;
          }
  
  
          a:hover {
            background-color: #2c2744;
          }
  
          .icon {
            font-size: 19px;
            color: #766e86;
          }
  
          span {
            font-size: 15px;
            font-weight: 700;
            color: #ffffff;
            text-decoration: none;
            margin-left: 10px;
  
  
          }
  
        }
      }
  
    }
  
    .title {
      font-size: 17px;
      font-weight: bold;
      color: #857f7f;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .bottom {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 30px;
      padding-left: 40px;
  
      .colorOption {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #706598;
        cursor: pointer;
        margin: 5px;
  
  
        &:nth-child(1) {
          background-color: whitesmoke;
          margin-left: -20px;
        }
  
        &:nth-child(2) {
          background-color: #333;
        }
  
      }
    }
  }